body
{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}


.menu a, .menu a:active, .menu a:focus
{
    color: black;
    text-decoration:none;
}

.menu a:hover
{
    color: #007f80;
    text-decoration:none;
}


sup
{
    background-color: #cccccc;
    color:black;
    cursor:pointer;
}
    
/* Helpers */

.margin-30 {margin-top:30px; margin-bottom:30;}
.padding-30 {padding:30px;}
.margin-top-20 {margin-top:20px;}
.bordered {border-left: 1px solid black; margin-left:25px; padding-left: 15px;}
.left {float:left;}

/* Bootstrap Override */
